<div class='nested-fields'>
	
	<div class="field">
	  <%= f.label :"Task Name" %>
	  <%= f.text_field :name %>
	</div>

	<button id="remove_bt"><%= link_to_remove_association "remove task", f %> </button>
	
	</div>
</div>